.title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

.listItem {
  padding: 1rem 0;
  border-top: 1px solid var(--gray-200);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItemInfo {
  display: flex;
  flex-direction: column;

  a {
    color: var(--blue-base);
    font-size: 1rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    font-size: 0.875rem;
  }
}

.listItemActions {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}