.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  background-color: var(--gray-200);
  color: var(--gray-600);
  border: 1px solid transparent;

  height: 2rem;
  width: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: border-color 0.2s;

  &:hover {
    border-color: var(--blue-base);
  }
}