*, *::before, *::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-100: #F9F9FB;
  --gray-200: #E4E6EC;
  --gray-300: #CDCFD5;
  --gray-400: #74798B;
  --gray-500: #4D505C;
  --gray-600: #1F2025;
  --danger: #B12C4D;
  --blue-base: #2C46B1;
  --blue-dark: #2C4091;
}

body {
  background-color: var(--gray-200);
  font-family: "Manrope", Arial, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}